<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CR7 Tribute - About</title>
</head>
<body>
        <div id="welcome">
            <h1>About</h1>
        </div>
        <div id="main2">
            <p><b>Ronaldo is a five-time Ballon d'Or winner and is one of the few players to win five Champions League titles. He is Real Madrid's all-time leading goal-scorer, scoring 450 times in 438 matches. He is also the leading goal-scorer in professional football history.</b></p>
            <ul><strong>Here is some of the most impressive Ronaldo's records:</strong>
                <li>Most UEFA club competition appearances: 197.</li>
                <li>Most UEFA club competition goals: 145.</li>
                <li>Most UEFA Champions League goals: 140.</li>
                <li>Most goals in a UEFA Champions League season: 17 (2013/14)</li>
                <li>Most goals in UEFA Champions League knockout stages: 67.</li>
            </ul>
        </div>
        <div id="navBar">
        <div id="buttons">
        <a href="/home">Go to Homepage</a>
        <a href="/works">Go to Skills⚽</a>
        <a href="/gallery">Go to Gallery📸</a>
        </div>
    </div>
    <div class="wrapper">
        <ul>
            <a target="_blank" class="socialMedia" href="https://www.facebook.com/Cristiano"><li class="list facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="slider">
              <p>Facebook</p>
            </div></a>
          </li>
          
          <a target="_blank" class="socialMedia" href="https://twitter.com/Cristiano"><li class="list twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <div class="slider">
              <p>Twitter</p>
            </div></a>
          </li>
          
          <a target="_blank" class="socialMedia" href="https://www.instagram.com/cristiano"><li class="list instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <div class="slider">
              <p>Instagram</p>
            </div></a>
          </li>
        </ul>
    </div>
    
</body>
</html>