<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CR7 Tribute - Skills</title>
</head>
<body>
    <div id="welcome">
        <h1>Skills</h1>
    </div>
    <div id="main3">
        <iframe width="" height="100%" src="https://www.youtube.com/embed/fcHkvndKXwI?autoplay=1&mute=1&controls=0"></iframe>
  </div>
</div>
        </div>
    </div>
    <div id="navBar">
    <div id="buttons">
    <a href="/home">Go to Homepage</a>
    <a href="/about">Go to About🏆</a>
    <a href="/gallery">Go to Gallery📸</a>
    </div>
</div>
<div class="wrapper">
    <ul>
        <a target="_blank" class="socialMedia" href="https://www.facebook.com/Cristiano"><li class="list facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <div class="slider">
          <p>Facebook</p>
        </div></a>
      </li>
      
      <a target="_blank" class="socialMedia" href="https://twitter.com/Cristiano"><li class="list twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <div class="slider">
          <p>Twitter</p>
        </div></a>
      </li>
      
      <a target="_blank" class="socialMedia" href="https://www.instagram.com/cristiano"><li class="list instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <div class="slider">
          <p>Instagram</p>
        </div></a>
      </li>
    </ul>
</div>
    
</body>
</html>